html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	box-sizing: border-box;
	cursor: default;
	font-family: Helvetica;
	font-size: 15px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	height: 100%;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

#header {
	background: white;
	padding: 5px;
	position: absolute;
	width: 100%;
	z-index: 3;
}

.menu button {
	background: transparent;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 5px;
	position: relative;
	vertical-align: middle;
}
.menu button img {
	display: block;
	max-height: 30px;
}
.menu button.disabled {
	cursor: default;
}
.menu button.disabled img {
	opacity: .1;
}
.menu button.active {
	background: #aaf;
}

#loading {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

#price-tag {
	position: absolute;
	right: -5px;
	bottom: -20px;
	width: 30px;
}

#facebook-menu {
	float: right;
	margin: 5px 10px;
}

#mural {
	background: #ddd;
}

#grid {
	display: none;
	pointer-events: none;
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
}

#preview {
	background: #ddd;
	border: 1px solid black;
	display: none;
	pointer-events: none;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}