html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	box-sizing: border-box;
	cursor: default;
	font-family: Helvetica;
	font-size: 15px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	height: 100%;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

#popup-wrapper {
	background: rgba( 0, 0, 0, 0.7 );
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 3;
}
#popup {
	background: white;
	margin: 10% auto;
	padding: 50px;
	width: 50%;
	height: 50%;
}
#popup img {
	cursor: pointer;
	width: 200px;
}

#header {
	background: #eee;
	padding: 5px;
	position: absolute;
	width: 100%;
	z-index: 3;
}

.menu {
	display: inline;
}
.menu button {
	background: transparent;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 5px;
	vertical-align: middle;
}
.menu button img {
	display: block;
	max-height: 30px;
	pointer-events: none;
}
.menu button.disabled {
	cursor: default;
}
.menu button.disabled img {
	opacity: .1;
}
.menu button.active {
	background: #aaf;
}

#facebook-menu {
	float: right;
	margin: 5px 10px;
}
#facebook-login-button,
#facebook-logout-button {
	display: none;
}

#alert {
	background: lightyellow;
	border-radius: 10px;
	display: none;
	margin: 10px;
	padding: 10px 20px;
	position: absolute;
	right: 0; bottom: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}
#alert img {
	display: block;
	float: left;
	margin-right: 10px;
	width: 50px; height: 50px;
}
#alert p {
	margin: 0 0 5px 60px;
	overflow: hidden;
}

#mural {
	background: #ddd;
}

#grid {
	pointer-events: none;
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
}

#preview {
	background: #ddd;
	border: 1px solid black;
	pointer-events: none;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}