html {
	height: 100%;
}

body {
	background: black;
	font-family: Helvetica;
	font-size: 15px;
	font-weight: 300;
	margin: 0;
	height: 100%;
}

#menu {
	background: white;
	box-sizing: border-box;
	padding: 5px;
	position: fixed;
	top: 0; right: 0;
	width: 100%;
	z-index: 1;
}

#menu button,
#menu a.button {
	background: white;
	border: none;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 5px;
}

#menu button img,
#menu a.button img {
	display: block;
}

#menu button.active {
	background: #aaf;
}

#menu #gitHubLink {
	float: right;
}

#alert {
	background: lightyellow;
	display: inline-block;
	line-height: 30px;
	margin: 5px;
	padding: 0 10px;
	vertical-align: bottom;
}

#board {
	position: absolute;
	top: -2px; left: -2px; /* Should be 0 and 0, but there is a 2px bug with the mouse position */
}

#grid {
	pointer-events: none;
	position: absolute;
	top: -2px; left: -2px;
}