html {
	height: 100%;
}

body {
	font-family: Helvetica;
	font-size: 15px;
	font-weight: 300;
	margin: 0;
	height: 100%;
}

#menu {
	background: white;
	box-sizing: border-box;
	opacity: .9;
	padding: 5px;
	position: fixed;
	top: 0; right: 0;
	width: 100%;
	z-index: 1;
}

#menu button,
#menu input,
#menu a {
	background: white;
	border: none;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 5px;
	vertical-align: middle;
}

#menu button img,
#menu a img {
	display: block;
}

#menu button.active {
	background: #aaf;
}

#menu .tooltip {
	background: black;
	color: white;
	font-size: small;
	opacity: .7;
	padding: 10px;
	pointer-events: none;
	position: absolute;
}

#menu #alert {
	background: lightyellow;
	display: inline-block;
	line-height: 30px;
	margin: 5px;
	padding: 0 10px;
	vertical-align: bottom;
}

#menu #alert a {
	background: lightyellow;
	margin: 0;
	padding: 0;
}

/* Right buttons */
#menu #rightButtons {
	float: right;
	margin: 5px;
}

#menu #facebookLogoutButton {
	display: none;
}

#board {
	position: absolute;
	top: -2px; left: -2px; /* Should be 0 and 0, but there is a 2px bug with the mouse position */
}

#grid {
	pointer-events: none;
	position: absolute;
	top: -2px; left: -2px;
}